body{
	font: 15px/1.5 Arial, Helvetica,sans-serif;
	padding:0;
	margin:0;
	background-color:#ececed;
	color: #fff;
  }
  
  /* Global */
  .container{
	width:80%;
	margin:20px auto;
	overflow:hidden;
  }
  
  ul{
	margin:0;
	padding:0;
  }

  header{
	background:#ececed;
	color:black;
	margin-top: -30px;
	margin-bottom: 40px;
	min-height:70px;
	border-bottom:#590880 3px solid;
  }

  img{
	  margin-top: 20px;;
  }

  header a{
	color:black;
	text-decoration:none;
	text-transform: uppercase;
	font-size:16px;
  }

header li{
	float:left;
	display:inline;
	padding: 0 20px 0 20px;
  }

  header #branding{
	float:left;
  }
  
  header #logo{
	margin-top: -60px;

	height: 160px;
	margin-bottom: -70px;
	padding-right: 100px;
	margin-right: 60px;
  }

 
  
  header #branding h1{
	margin:0;
  }
  
  header nav{
	float:right;
	margin-top:10px;
  }
  
  .highlight, header .current0 a{
	color:#590880;
	font-weight:bold;
  }
  
  header a:hover{
	color:#590880;
	font-weight:bold;
  }

  @media (max-width: 1024px){
	img{
		margin-top: -20px;
		margin-left: 30px;
		margin-bottom: 10px;
		
	}

	#logo{
		
		width: 200%;
		margin-bottom: 50px;
	}
	
	header li{
	  float:left;
	  display:inline;
	  padding: 0 20px 0 20px;
	  margin-top: 40px;
	  margin-right: 45px;
	}
  }
  
  @media (max-width: 768px){
	#logo{
	  width:200%;
	  

	}
  
	.mainMenu{
	  display: none;
	  margin-bottom: 10px;
  
	
	}
	.mainMenu.hamburger{
	  display: block;
	}
  
	header li{
	  float:left;
	  display:inline;
	  padding: 0 20px 0 20px;
	  margin-right: 10px;
	}

	img{
		margin-top: 25px;
		margin-bottom: -10px;
		margin-left: -10px;
	}
  
	
  }
  
  @media (max-width: 414px){
	#logo{
	  width:350%;
	  margin-bottom: 100px;
	  margin-left: 60px;
	  margin-bottom: -55px;
	}
  
	#toggle-bar{
	  margin-right: 280px;
	  margin-top: -30px;
	  padding-top: -80px;
	}

	img{
		margin-top: 2px;
		margin-left: 20px;
		margin-bottom: 5px;;
	}


  }
  @media (max-width: 360px){
	  img{
		margin-left: -12px;
	  }

  }
  @media (max-width: 375px){
	#logo{
	  width:350%;
	  margin-left: 90px;
	}

	#toggle-bar{
		margin-right: 230px;
		margin-top: -30px;
		padding-top: -80px;
	}

	img{
		margin-top: 15px;
		margin-left: 20px;
		margin-bottom: 5px;;
	}

	  

	
  }
  
  @media (max-width: 320px){
	#logo{
	  width:300%;
	  margin-left: 70px;
	}
  
	tootle-menu{
	  margin-right: -100px;
	}

	img{
		margin-top: 35px;
	}
  }
  
  @media (min-width: 768px){
	.mainMenu{
	  display: initial;
	  margin-top: -40px;
	}
  
	#toggle-bar{
	  display: none;
	  margin-top: 10px;
	}
  
  }